@import '../../../components/common/style/reset/common.scss';
@import '../../../components/common/style/var.scss';
@import '../../../components/common/style/theme.scss';
@import '../../../components/common/style/mixin';

$prefix: 'demo_block';

.#{$prefix} {
  margin-top: 80rpx;

  &_no_padding {

    .#{$prefix}_body {
      padding: 0;
    }
  }

  &_title {
    padding: 0 20px;
    margin-top: 14px;
    margin-bottom: 14px;
    @include font-large;
    font-weight: bold;
    color: var(--transparent-gray-900);

    &.#{$prefix}_no_margin {
      margin-bottom: 0;
    }
  }

  &_body {
    padding: 24px 20px;
    background-color: #ffffff;
  }

  &_no_bg {
    background-color: transparent;
  }
}