
.main {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .ad_navigation {
    min-height: 88px;
  }

  .ad_navigation_inner {
    padding-top: 44px !important;
  }

  .demo_block_body {
    background-color: transparent;
  }
}

.nav {
  position: relative;
  display: block;
  flex: none;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}


.right {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.title_bar {
  position: absolute;
  right: 8px;
  bottom: 6px;
  width: 87px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-image: url("data:image/svg+xml,%3Csvg width='89' height='34' viewBox='0 0 89 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M72.159 1H16.841C8.09228 1 1 8.16344 1 17C1 25.8366 8.09228 33 16.841 33H72.159C80.9077 33 88 25.8366 88 17C88 8.16344 80.9077 1 72.159 1Z' fill='white' fill-opacity='0.6' stroke='%23979797' stroke-opacity='0.2' stroke-width='0.5'/%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M66.1594 9C70.6109 9 74.4165 12.8056 74.4165 17.2571C74.4165 22.1944 70.6109 26 66.1594 26C61.2221 26 57.4165 22.1944 57.4165 17.2571C57.4165 12.8056 61.2221 9 66.1594 9ZM66.1572 11C62.3267 11 59.4165 13.9101 59.4165 17.7407C59.4165 21.0899 62.3267 24 66.1572 24C69.5064 24 72.4165 21.0899 72.4165 17.7407C72.4165 13.9101 69.5064 11 66.1572 11ZM65.9165 14.5C67.5731 14.5 68.9165 15.8428 68.9165 17.5C68.9165 19.1566 67.5731 20.5 65.9165 20.5C64.2599 20.5 62.9165 19.1566 62.9165 17.5C62.9165 15.8428 64.2599 14.5 65.9165 14.5Z' fill='%231F1F1F'/%3E %3Cpath opacity='0.2' d='M44.75 8H44.25V26.5H44.75V8Z' fill='%231F1F1F'/%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M23.5 14C25.2949 14 26.75 15.4551 26.75 17.25C26.75 19.0449 25.2949 20.5 23.5 20.5C21.7051 20.5 20.25 19.0449 20.25 17.25C20.25 15.4551 21.7051 14 23.5 14ZM16.25 15.5C17.3544 15.5 18.25 16.3952 18.25 17.5C18.25 18.6044 17.3544 19.5 16.25 19.5C15.1456 19.5 14.25 18.6044 14.25 17.5C14.25 16.3952 15.1456 15.5 16.25 15.5ZM30.75 15.5C31.8544 15.5 32.75 16.3952 32.75 17.5C32.75 18.6044 31.8544 19.5 30.75 19.5C29.6456 19.5 28.75 18.6044 28.75 17.5C28.75 16.3952 29.6456 15.5 30.75 15.5Z' fill='%231F1F1F'/%3E %3C/svg%3E ");
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 16px;
  // padding: 16px 14px 0 19px;
}

.header_left {
  margin-left: 20px;
  font-size: 15px;
  font-weight: 600;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.header_right {
  margin-right: 14px;
  width: 138rpx;
  height: 24rpx;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-image: url("data:image/svg+xml,%3Csvg width='69' height='12' viewBox='0 0 69 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath opacity='0.35' d='M62.8333 0.833313H47.1667C45.6939 0.833313 44.5 2.02722 44.5 3.49998V8.49998C44.5 9.97274 45.6939 11.1666 47.1667 11.1666H62.8333C64.3061 11.1666 65.5 9.97274 65.5 8.49998V3.49998C65.5 2.02722 64.3061 0.833313 62.8333 0.833313Z' stroke='black'/%3E %3Cpath opacity='0.4' d='M67 4V8C67.8047 7.66122 68.328 6.87313 68.328 6C68.328 5.12687 67.8047 4.33878 67 4Z' fill='black'/%3E %3Cpath d='M62.6667 2.33331H47.3333C46.597 2.33331 46 2.93027 46 3.66665V8.33331C46 9.06969 46.597 9.66665 47.3333 9.66665H62.6667C63.403 9.66665 64 9.06969 64 8.33331V3.66665C64 2.93027 63.403 2.33331 62.6667 2.33331Z' fill='black'/%3E %3Cpath d='M31.3303 2.60802C33.5462 2.60811 35.6774 3.45955 37.2833 4.98635C37.4043 5.10423 37.5976 5.10274 37.7167 4.98302L38.8727 3.81635C38.933 3.75563 38.9666 3.67338 38.9661 3.5878C38.9656 3.50222 38.931 3.42036 38.87 3.36035C34.6549 -0.679198 28.0051 -0.679198 23.79 3.36035C23.729 3.42032 23.6943 3.50215 23.6937 3.58773C23.6932 3.67331 23.7267 3.75558 23.787 3.81635L24.9433 4.98302C25.0624 5.10292 25.2558 5.10441 25.3767 4.98635C26.9828 3.45945 29.1142 2.60801 31.3303 2.60802ZM31.3303 6.40368C32.5478 6.40361 33.7219 6.85614 34.6243 7.67335C34.7464 7.78933 34.9387 7.78682 35.0577 7.66768L36.2123 6.50102C36.2732 6.43982 36.3069 6.3568 36.306 6.27054C36.3051 6.18428 36.2697 6.10196 36.2077 6.04202C33.4595 3.48563 29.2035 3.48563 26.4553 6.04202C26.3933 6.10196 26.3578 6.18432 26.357 6.27061C26.3562 6.3569 26.3901 6.43991 26.451 6.50102L27.6054 7.66768C27.7243 7.78682 27.9166 7.78933 28.0387 7.67335C28.9405 6.85668 30.1136 6.40419 31.3303 6.40368ZM33.5494 9.18802C33.6111 9.12741 33.6451 9.04401 33.6433 8.9575C33.6416 8.87099 33.6042 8.78905 33.54 8.73102C32.2644 7.65213 30.3962 7.65213 29.1207 8.73102C29.0565 8.789 29.019 8.87092 29.0172 8.95743C29.0154 9.04394 29.0493 9.12737 29.111 9.18802L31.1087 11.2037C31.1672 11.2629 31.247 11.2963 31.3303 11.2963C31.4136 11.2963 31.4935 11.2629 31.552 11.2037L33.5494 9.18802Z' fill='black'/%3E %3Cpath d='M2.66666 7.33335C3.21894 7.33335 3.66666 7.78107 3.66666 8.33335V10.3334C3.66666 10.8856 3.21894 11.3334 2.66666 11.3334H1.66666C1.11437 11.3334 0.666656 10.8856 0.666656 10.3334V8.33335C0.666656 7.78107 1.11437 7.33335 1.66666 7.33335H2.66666ZM6.33334 5.33335H7.33334C7.88563 5.33335 8.33334 5.78107 8.33334 6.33335V10.3334C8.33334 10.8856 7.88563 11.3334 7.33334 11.3334H6.33334C5.78106 11.3334 5.33334 10.8856 5.33334 10.3334V6.33335C5.33334 5.78107 5.78106 5.33335 6.33334 5.33335ZM11 3.00002H12C12.5523 3.00002 13 3.44774 13 4.00002V10.3334C13 10.8856 12.5523 11.3334 12 11.3334H11C10.4477 11.3334 10 10.8856 10 10.3334V4.00002C10 3.44774 10.4477 3.00002 11 3.00002ZM15.6667 0.666687H16.6667C17.2189 0.666687 17.6667 1.1144 17.6667 1.66669V10.3334C17.6667 10.8856 17.2189 11.3334 16.6667 11.3334H15.6667C15.1144 11.3334 14.6667 10.8856 14.6667 10.3334V1.66669C14.6667 1.1144 15.1144 0.666687 15.6667 0.666687Z' fill='black'/%3E %3C/svg%3E ");
}