.main {
  
  .demo_block_body {
    background-color: transparent;
  }
}

.item {
  display: block;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

.icon {
  width: 28px;
  height: 28px;
}