@import '../common/style/reset/common.scss';
@import '../common/style/var.scss';
@import '../common/style/theme.scss';
@import '../common/style/mixin';

$prefix: 'ad_navigation';

// :host {
//   position: relative;
//   display: block;
//   z-index: theme(--z-index-navigation, $--z-index-navigation);
// }

.#{$prefix} {
  --height: 44px;
  --button-width: 190rpx;
  box-sizing: content-box;

  view {
    box-sizing: content-box;
  }

  &_android {
    --height: 48px;
    --button-width: 222rpx;
  }

  &_placeholder {
    position: relative;
    height: var(--height);
  }

  &_inner {
    @include flex-center-start;
    padding-right: var(--button-width);
    width: calc(100% - var(--button-width));
    height: var(--height);
  }

  &_inner_fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: theme(--z-index-navigation, $--z-index-navigation);
  }

  &_left {
    @include flex-center-start;
    width: var(--left-width);
    padding-left: 16px;
  }

  &_left_icon {
    width: 24px;
    height: 24px;
    mask-size: cover;
    background-color: currentColor;

    &:active {
      opacity: 0.5;
    }
  }

  &_icon_close {
    mask: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 10.943L5.807 4.75 4.75 5.807 10.943 12 4.75 18.193l1.057 1.057L12 13.057l6.193 6.193 1.057-1.057L13.057 12l6.193-6.193-1.057-1.057L12 10.943z' fill='%231F1F1F'/%3E%3C/svg%3E");
  }

  &_icon_home {
    mask: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18 20a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-6H3.414a1 1 0 0 1-.707-1.707l8.586-8.586a1 1 0 0 1 1.414 0l8.586 8.586A1 1 0 0 1 20.586 14H18v6zM12 4.697L3.897 12.8H7.2v7H11V17h2v2.8h3.8v-7h3.303L12 4.697z' fill='%231F1F1F'/%3E%3C/svg%3E");
  }

  &_icon_back {
    mask: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.498 19.438L15.453 20.5l-7.665-7.79a1.02 1.02 0 0 1 0-1.42l7.665-7.79 1.045 1.063L9.18 12l7.318 7.438z' fill='%231F1F1F'/%3E%3C/svg%3E");
  }

  &_center {
    @include flex-center-center;
    flex: 1;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
  }

  &_right {
    margin-right: 16px;
  }

  &_placeholder {
    height: var(--height);
  }
}
