@import '../common/style/reset/common.scss';
@import '../common/style/var.scss';
@import '../common/style/theme.scss';
@import '../common/style/mixin';


$prefix: 'ad_divider';

.#{$prefix} {
  width: 100%;
  height: 1px;
  background-color: theme(--transparent-gray-100, $--transparent-gray-100);
  transform: scaleY(0.5);
}