page {
  background-color: #fff;
}

.font {

  .ad_cell_inner {
    padding: 2px 0;
  }

  .ad_cell_title {
    font-weight: bold;
  }
}

.font_one  {

  .ad_cell_title {
    font-size: 36px;
    line-height: 52px;
  }
}

.font_two {

  .ad_cell_title {
    font-size: 30px;
    line-height: 40px;
  }
}

.font_three {

  .ad_cell_title {
    font-size: 24px;
    line-height: 32px;
  }
}

.font_four {

  .ad_cell_title {
    font-size: 18px;
  }
}